.ui.grid
  .four.wide.column
    .ui.vertical.fluid.menu
      a.item Accueil
      a.item You
      .item Contacts
        .menu
          #userList
          a.item
            #addContact.fluid.ui.mini.button
              | Add a contact
      .item Channels
        .menu
          #pageList
          a.item
            #addChannel.fluid.ui.mini.button
              | Add a channel
      a.item#logout Logout

  .height.wide.column#talk
    .ui.form
      .field
        textarea(rows='1')#messageInput
      button#messageButton.ui.submit.button Submit
    .ui.feed#messageList

  #rightMenu.four.wide.column

.ui.modal#contactModal
  i.close.icon
  .header
    | Find a contact
  .content
    .ui.input
      input(type='text')#addUserInput
    .ui.list#userSearchList

.ui.modal#channelModal
  i.close.icon
  .header
    | Create a channel
  .content
    .ui.input
      input#createChannelInput(type='text', placeholder="Channel name...")
    .ui.button#createChannelButton Create
