.ui.four.column.centered.grid
  .column
    h1.center Stay quiet !
    p Practical cryptographic social network
    p Privacy and end-to-end encryption for everyone
    p.ui.warning.message
      span Using this website is your own responsability
      br
      span Source code is publicly available and is not audited

  .column
    h1.center Welcome back !
    .ui.form#signinForm
      .field
        label Username
        .ui.left.icon.input
          input#signinPseudoInput(
            placeholder='Username'
            type='text'
          )
          i.user.icon
      .field
        label Password
        .ui.left.icon.input
          input#signinPasswordInput(type='password')
          i.lock.icon
      .field
        .ui.checkbox
          input#rememberMe(type="checkbox")
          label Remember me
      .ui.error.message
        .header Error
        p User doesn't exist or password is invalid
      button#signin.ui.green.submit.animated.button
        .visible.content Signin
        .hidden.content: i.right.arrow.icon

  .column
    h1.center Or are you new ?
    .ui.warning.form#signupForm
      .field
        label Username
        .ui.left.icon.input
          input#signupPseudoInput(
            placeholder='Username'
            type='text'
          )
          i.user.icon
      .field
        label Password
        .ui.left.icon.input
          input#signupPasswordInput(
            type='password'
          )
          i.lock.icon
      .field
        label Confirm password
        .ui.left.icon.input
          input#signupPasswordConfirmInput(
            type='password'
          )
          i.lock.icon
      .ui.error.message
        .header Error
        p User already exists or something got wrong
      .ui.warning.message
        p By design, we can't send your password back, so keep it carefuly !
      button#signup.ui.blue.submit.animated.button
        .visible.content Signup
        .hidden.content: i.right.arrow.icon
