| {{#each messages}}
.event
  .label
    img(src="http://semantic-ui.com/images/avatar/small/christian.jpg")
  .content
    .summary
      a(href='#user/{{source.id}}') {{source.pseudo}}
      .date {{createdAt}}
    .extra.text {{content}}
| {{/each}}
button#load_older_messages Load older messages
