.ui.vertical.fluid.menu
  .item User menu
  .item
    .header Pseudo
    .menu
      a.item {{ user.pseudo }}
  .item
    .header ID
    .menu
      a.item {{ user.id }}
  | {{#if user.confirmed}}
  .item
    .fluid.ui.disabled.green.mini.button
      | Contact confirmed
  | {{else}}
  | {{#if user.added}}
  .item
    .fluid.ui.disabled.mini.button
      | Waiting for confirmation
  | {{else}}
  .item
    #confirmContact.fluid.ui.mini.button.green
      | Confirm contact
  | {{/if}}
  | {{/if}}
