
script#endHashFileTemplate(type='text/template')
  include templates/endHashFile.jade

script#homeTemplate(type='text/template')
  include templates/home.jade

script#loginTemplate(type='text/template')
  include templates/login.jade

script#messageListTemplate(type='text/template')
  include templates/messageList.jade

script#pageTemplate(type='text/template')
  include templates/page.jade

script#pageLinkListTemplate(type='text/template')
  include templates/pageLinkList.jade

script#pageTalkTemplate(type='text/template')
  include templates/pageTalk.jade

script#rightMenuTemplate(type='text/template')
  include templates/rightMenu.jade

script#searchResultTemplate(type='text/template')
  include templates/searchResult.jade

script#startHashFileTemplate(type='text/template')
  include templates/startHashFile.jade

script#userTemplate(type='text/template')
  include templates/user.jade

script#userBlockTemplate(type='text/template')
  include templates/userBlock.jade

script#userBlockListTemplate(type='text/template')
  include templates/userBlockList.jade

script#userListTemplate(type='text/template')
  include templates/userList.jade

script#userRequestTemplate(type='text/template')
  include templates/userRequest.jade

script#userRequestListTemplate(type='text/template')
  include templates/userRequestList.jade

script#userSearchTemplate(type='text/template')
  include templates/userSearch.jade

script#userTalkTemplate(type='text/template')
  include templates/userTalk.jade

