html(lang='en')
  head
    meta(charset='utf8')
    title Safebook

    link(rel='stylesheet', type='text/css', href='css/semantic.min.css')

    script(type='text/javascript', src='js/vendor.js')
    script(type='text/javascript', src='js/app.js')

    include includes.jade

  body
    .ui.menu
      .header.item Safebook
      .right.menu
        .item: a(href="https://gitlab.com/safebook/legacy") Gitlab
    #content
